
.search {
  width: 100%;
  height: 45px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 2em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.search input {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 1em;
  color: #fff; }
.search input::-webkit-input-placeholder {
  color: #fff; }
.search input::-moz-placeholder {
  color: #fff; }
.search input:-ms-input-placeholder {
  color: #fff; }
.search input::-ms-input-placeholder {
  color: #fff; }
.search input::placeholder {
  color: #fff; }
.search button {
  text-indent: -9999px;
  overflow: hidden;
  width: 45px;
  height: 45px;
  background: url("../images/icon/search.png") no-repeat center;
  background-size: 15px auto; }
