
.traverLocation {
  margin-top: 30px; }
.traverLocation .slider__item {
  padding-bottom: 2em;
  opacity: .8; }
.traverLocation .slider__item a {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  background: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  padding: 20px 15px;
  margin: 0 auto;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 500; }
.traverLocation .slider__item a h1 {
  font-size: 25px; }
.traverLocation .slider__item a p {
  font-size: 1rem;
  letter-spacing: .1em;
  margin-top: 5px; }
.traverLocation .slick-center .slider__item {
  opacity: 1; }
.traverLocation .slick-center .slider__item a {
  -webkit-transform: scale(1);
  transform: scale(1); }
.traverLocation .slick-arrow {
  z-index: 1000;
  width: 15px;
  height: 25px;
  display: block;
  position: absolute;
  background: url("../images/icon/arrow-right.png") no-repeat center;
  background-size: 100% 100%;
  text-indent: -9999px;
  overflow: hidden;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
.traverLocation .slick-next {
  right: 10%; }
.traverLocation .slick-prev {
  left: 10%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../images/icon/arrow-left.png") no-repeat center;
  background-size: 100% 100%; }
