{% extends "common/_base.html" %}

{# 사용자가 등록한 코스 갯수 #}
{% set regCourseLenth = 1 %}

{# 현재 코스 정보 #}
{%
    set currentCourse = {
        startDate: '20.01.01',
        endDate: '20.02.01',
        title: '삿포로 여행'
    }
%}

{% block content %}
    <div class="page main">
        <nav class="topNav">
            <a href="/">
                <img src="/images/icon/map.png" alt="지도">
            </a>
            <a href="/">
                <img src="/images/icon/user.png" alt="유저">
            </a>
            <a href="/">
                <img src="/images/icon/ticket.png" class="ticket" alt="티켓">
            </a>
        </nav>
        <div class="container">
            <div class="search">
                <input type="text" placeholder="홍길동님은 어디로 떠나시나요?" onclick="location.href='./search.html'">
                <button type="submit">검색</button>
            </div>
            <div class="traverLocation">
                <div class="slider">
                    {# 최근 검색한 도시 링크들 #}
                    <div class="slider__item">
                        <a href="./guide.html" style="background:url('/images/dummy/main-slide.png') no-repeat center;background-size:cover;">
                            <h1>LAOS</h1>
                            <p>
                                방비엥, 비엔티엔<br/>
                                루앙프라방
                            </p>
                        </a>
                    </div>
                    <div class="slider__item">
                        <a href="./guide.html" style="background:url('/images/dummy/main-slide.png') no-repeat center;background-size:cover;">
                            <h1>LAOS</h1>
                            <p>
                                방비엥, 비엔티엔<br/>
                                루앙프라방
                            </p>
                        </a>
                    </div>
                    <div class="slider__item">
                        <a href="./guide.html" style="background:url('/images/dummy/main-slide.png') no-repeat center;background-size:cover;">
                            <h1>LAOS</h1>
                            <p>
                                방비엥, 비엔티엔<br/>
                                루앙프라방
                            </p>
                        </a>
                    </div>

                </div>
            </div>
            <div class="course">
                {# 로그인 유저명 #}
                <h2 class="course__who">홍길동님의 코스</h2>
                <div class="course__body">
                    <div class="wrap">
                        {% if regCourseLenth %}
                            {# 등록한 코스가 1개 이상 일떄 #}
                            <div class="course__header">
                                <h2 class="course__date">
                                    {{ currentCourse.startDate }} ~ {{ currentCourse.endDate }}
                                    <a href="#//">변경</a>
                                </h2>
                                <div class="course__linkbox">
                                    {# 코스 상세 지도 바로가기 #}
                                    <a href="#"><img src="/images/icon/map-gray.png" alt=""></a>
                                    {# 파파고 바로가기 #}
                                    <a href="https://papago.naver.com/" target="_blank"><img src="/images/icon/tr-gray.png" alt=""></a>
                                    {# 마지막날짜에 장소 추가 #}
                                    <a href="#"><img src="/images/icon/more-gray.png" alt=""></a>
                                </div>
                            </div>
                            <div class="course__box">
                                <h1 class="course__title">{{ currentCourse.title }}</h1>
                                <ul class="course__list">
                                    {# Array 현재 코스 날짜별 정보 #}
                                    <li class="course__section">
                                        <div class="couse__day">
                                            <button>1 Day</button>
                                        </div>
                                        <ul class="course__detail">
                                            <li class="course__detail-item">
                                                <div class="course__detail-info">
                                                    <h3 class="course__detail-title">비에이 버스투어</h3>
                                                    <p>삿포로역에서 7시 출포로역에서 7시 출포로역에서 7시 출발</p>
                                                    <p>도시락 충전기 챙기기</p>
                                                </div>
                                                <div class="course__option">
                                                    <select name="" id="">
                                                        <option value="">옵션1</option>
                                                        <option value="">옵션2</option>
                                                        <option value="">옵션3</option>
                                                        <option value="">옵션4</option>
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            {# 등록한 코스가 0개 일떄 #}
                            <a href="">
                                <div class="nodata">
                                    <img src=".//images/icon/more-bigger.png" alt="">
                                    <p>
                                        코스를 등록해주세요!
                                    </p>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
