<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/modules/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="wrap">
            <h1 class="header__logo">
                <a href="/">
                    <img src="/images/logo.png" alt="">
                </a>
            </h1>
            <button class="header__menu">메뉴</button>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer></footer>

    <div id="loading">
        Loading....
    </div>
    <script src="/modules/jquery/dist/jquery.js"></script>
    <script src="/modules/slick-carousel/slick/slick.js"></script>
    <script src="/js/build.js"></script>
</div>
</body>
</html>